body{
    font-family: sans-serif;
    margin: 0;
    padding: 38px;
    background-image: url(https://wallpapercrafter.com/sizes/3840x2160/206733-a-person-typing-on-a-laptop-with-a-coffee-cup-a-sm.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    
}