body{
    font-family: sans-serif;
    margin: 0;
    padding: 38px;
    background-image: url(https://img.freepik.com/fotos-premium/cerebro-rosa-sobre-azul_72104-1300.jpg?w=2000);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;  
    
}



img{
    width: 30%;
}