body{
    font-family: sans-serif;
    margin: 0;
    padding: 38px;
    background-image: url(https://wallpaperaccess.com/full/552336.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    
}